[submodule "submodules/guile"]
	path = submodules/guile
	url = https://git.savannah.gnu.org/git/guile.git
[submodule "submodules/geiser"]
	path = submodules/geiser
	url = https://gitlab.com/emacs-geiser/geiser.git
[submodule "submodules/emacs"]
	path = submodules/emacs
	url = https://git.savannah.gnu.org/git/emacs.git
[submodule "submodules/geiser-guile"]
	path = submodules/geiser-guile
	url = https://gitlab.com/emacs-geiser/guile.git
[submodule "submodules/guile-ares-rs"]
	path = submodules/guile-ares-rs
	url = https://git.sr.ht/~abcdw/guile-ares-rs
[submodule "submodules/gdb-init"]
	path = submodules/gdb-init
	url = https://github.com/gdbinit/Gdbinit.git
[submodule "submodules/gdb-dashboard"]
	path = submodules/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule "submodules/gdb"]
	path = submodules/gdb
	url = https://sourceware.org/git/binutils-gdb.git
